.box-holder {
position: relative;
height: 100%;
overflow: hidden;
margin: 0 auto!important;
}

.boxes {
padding: 0!important;
position: relative;
z-index: 10;
height: 100%;
overflow: hidden;
color:#000;
width: 100%!important;
margin: 0 auto;
text-align:center;
}
.col-holder {
float: left;
height: 100%;
margin: 0;
padding: 15px !important;
width: 100%;
position: relative;
left: -15px;
}

.col-one.Box {
display: inline-block;
width: 30%!important;
height: 100%;
vertical-align: top;
position: relative;
margin-left: 0!important;
background: url(images/contnt.png)repeat 0 0;
background-size: 100% 100%;
border: 1px solid #222;
border-radius: 5px;
min-height: 230px;
}
.col-two.Box {
margin: 0 5px auto!important;
width: 30%!important;
display: inline-block;
vertical-align: top;
position: relative;
height: 100%;
background: url(images/contnt.png)repeat 0 0;
background-size: 100% 100%;
border: 1px solid #222;
border-radius: 5px;
min-height: 230px;
}
.col-three.Box {
width: 30%!important;
height: 100%;
display: inline-block;
vertical-align: top;
position: relative;
background: url(images/contnt.png)repeat 0 0;
background-size: 100% 100%;
border: 1px solid #222;
border-radius: 5px;
min-height: 230px;
margin-right: 0;
}

a.Button {
-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
background: url(images/contnt.png);
background-repeat: repeat-x;
border: 1px solid #666;
border-radius: 3px 3px 3px 3px;
box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
color: #000;
cursor: pointer;
display:block;
font-size: 14px;
font-weight: 700;
padding:1px 6px!important;
text-align: center;
text-shadow: 0 1px 0 #666;
text-decoration: none;
width: 60px;
 position: relative;
}
a.Button:hover {
-moz-box-shadow: 0 0 5px #aaa;
-webkit-box-shadow: 0 0 5px #aaa;
background: url(images/menu_bg2.png);
border: 1px solid #222;
box-shadow: 0 0 5px #aaa;
color: #fff;
text-shadow: 0 1px 0 #000;
	}

h1 {
color: #f00;
text-shadow: 0 1px 0 #000;
font-size:23px;
padding:5px;
}
p {
line-height: 1.5;
color: #000;
text-align: left!important;
padding:5px;
font-size:14px!important;
}